<form action="/form" method="POST">
	cat name: <input type="text" name="catName" value="">	
	lives: <input type="number" name="lives" value="">	
	<input type="submit" name="" value="add cat!">	
</form>

